<h1 class="text-center card-header">Kilometerdrivens index </h1>


<br>

<div class="card-header text-center">
  <%= link_to 'Add kilometerDriven', new_kilometer_driven_path , class: 'btn btn-primary my-4' %>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
  </thead>
  <tbody>
    <% @kilometerdrivens.each do |kilometerdriven| %>
      <tr>
        <td><%=  number_with_delimiter(kilometerdriven.name, delimiter: ',') %></td>
        <td><%= link_to 'Edit', edit_kilometer_driven_path(kilometerdriven), class: 'btn btn-warning '  %></td>
        <td><%= link_to 'Destroy', kilometerdriven, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger '  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
