
  <div class=" card-header my-4 text-center"> <h1>Add New Model</h1> </div>
  <%= render 'form', model: @model %>
  <div class="text-center">
    <%= link_to 'Back', models_path , class: " btn btn-dark" %>
  </div>