  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Model</th>
        <th scope="col">Brand</th>
        <th scope="col">Kilometer-Driven</th>
        <th scope="col">Registration-Year</th>
        <th scope="col">Registration-State</th>
        <th scope="col">Variant</th>
      </tr>
    </thead>
    <tbody id="buy-car"  value =<%= current_user.id %>>
      <% @updates.each do |seller| %>
        <%= render 'sellers/update' ,seller: seller %>
      <% end %>
    </tbody>
  </table>
  <div class="text-center my-3 p-2">
    <%= link_to 'Back to home', root_path, class: "btn btn-primary rounded-pill" %>
  </div>
