<h1>Carcosts</h1>



  <%= link_to 'New Car Cost', new_car_cost_path, class: "btn btn-info my-4" %>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Condition</th>
      <th>Price</th>
      <th>Edit</th>
    </tr>
    </thead>

    <tbody>
    <% @carcosts.each do |carcost| %>
      <tr>
        <td><%= carcost.condition %></td>
        <td><%=  number_with_delimiter(carcost.price, delimiter: ',') %></td>
        <td><%= link_to 'Edit', edit_car_cost_path(carcost) , class: 'btn btn-warning ' %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>

