<div class= "container text-center home">
  <h1 align="center" class="my-4 card-header">Change Status </h1>
  <h3> Approve to pass and Reject to discard the post </h3>
  <%= render 'form', token: @token %>
  <%= link_to 'Back', tokens_path ,class: "btn btn-dark btn-lg" %>
</div>


