<div class= "container text-center home">
  <h1 align="center" class="my-4 card-header">Editing Token</h1>
  <%= render 'form', token: @token %>
  <%= link_to 'Back', tokens_path ,class: "btn btn-dark btn-lg" %>
</div>


