
<h1 class="my-4 card-header" align="center">Appointment</h1>
<div class="container home">
<%= link_to 'My add', my_add_sellers_path, class: 'btn btn-info my-3 px-3' %>
  <table class="table">
    <% if  current_user.role.roles == "ADMIN" %>
      <%= link_to 'My Advertisement', my_add_sellers_path, class: "btn btn-info m-4" %>
      <%= link_to 'Create new token', new_token_path, class: "btn btn-primary rounded-pill my-4" %>
    <% end %>
  <% if @mylist.empty? and current_user.role.roles == "SELLER" %>
    <h1>You dont have any appointment. Why don't you create a new one</h1> 
  <% else %> 
  <thead class="thead-dark">
    <tr >
      <th scope="col">Token no</th>
      <th scope="col">Phone no</th>
      <th scope="col">Status</th>
      <% if  current_user.role.roles == "ADMIN" %>
        <th>Update Status</th>
      <% end %>
    </tr>
  </thead>
  <tbody id="message">
      <% @mylist.each do |list| %>
          <%= render 'message', list: list %>
      <% end %> 
    </tbody>
    <% end %>
  </table>
</div>

 
