<h1 align="center" class="card-header my-4">Create a new appointment</h1>
<%= render 'form', token: @token %>
<div class="text-center">
  <%= link_to 'Back', tokens_path, class: "btn btn-dark" %>
</div>


