<div class="text-center">
	<h1 class="card-header">Edit City</h1>
	<%= render 'form', registrationstate: @registrationstate %>
	<%= link_to 'Show', @registrationstate ,class: 'btn btn-warning m-4'%> 
	<%= link_to 'Back', registration_states_path, class: 'btn btn-dark m-4' %>
</div>