<div class=" card-header my-4 text-center"> <h1>Add New Registrationstate</h1> </div>

<%= render 'form', registrationstate: @registrationstate %>

<div class="text-center">
	<%= link_to 'Back', cities_path , class: " btn btn-dark" %>
</div>