<div class="text-center">
  <h1 class="text-center card-header">Registration Year index </h1>
  <p class="my-3 text-muted"> All the registration years are listed below </p>
  <%= select("post", "category", RegistrationYear.all.collect { |p| [ p.name, p.id ] }, { prompt: "Registration Years" }, class: "form-control my-5") %>
</div>