<h1 class="text-center card-header">Variant Page</h1>
<br>

<div class="card-header text-center">
  <%= link_to 'New Variant', new_variant_path, class: 'btn btn-primary my-4' %>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @variants.each do |variant| %>
      <tr>
        <td><%= variant.name  %></td>
        <td><%= link_to 'Edit', edit_variant_path(variant), class: 'btn btn-warning '  %></td>
        <td><%= link_to 'Destroy', variant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger '  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
