<div class=" card-header my-4 text-center"> <h1>Add New Variant</h1> </div>
<%= render 'form', variant: @variant %>
<div class="text-center">
	<%= link_to 'Back', variants_path , class: " btn btn-dark" %>
</div>