<div class="text-center">
	<h1 class="card-header">Edit City</h1>
	<%= render 'form', city: @city %>
	<%= link_to 'Show', @city ,class: 'btn btn-warning m-4'%> 
	<%= link_to 'Back', cities_path, class: 'btn btn-dark m-4' %>
</div>